#tic__board {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board__cell {
  border: 2px solid black;
  font-size: 8vw;
}

#board__cell:hover {
  background-color: rgb(255, 199, 125);
}
